{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
    <h1>Location</h1>

    <table class="table">
        <tbody>
            
                <th>Id</th>
                <td>{{ location.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ location.name }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ location.country }}</td>
            </tr>
        </tbody>
    </table>

       
    <a href="{{ path('location_index') }}">back to list</a>

    <a href="{{ path('location_edit', {'id': location.id}) }}">edit</a>

    {{ include('location/_delete_form.html.twig') }}
    <br/>
    <hr/>
    <table class="table">
        <tbody>
            {% for measurement in measurements %}
                <tr>
                <th>Date</th>
                <td>{{ measurement.date|date('Y-m-d') }}</td> 
                </tr>

                <tr>
                <th>Temperature</th>
                <td>{{ measurement.temperature }}</td> 
                </tr>

                <tr>
                <th>Pressure</th>
                <td>{{ measurement.pressure }}</td> 
                </tr>

                <tr>
                <th>Humidity</th>
                <td>{{ measurement.humidity }}</td> 
                </tr>

                <tr>
                <th>Wind</th>
                <td>{{ measurement.wind }}</td> 
                </tr>

                <tr>
                <th>Visibility</th>
                <td>{{ measurement.visibility }}</td> 
                </tr>
                
                <tr>
                <td><a href="{{ path('measurement_edit', {'id': measurement.id}) }}">edit</a></td>
                </tr>

                <tr>
                <td>{{ include('measurement/_delete_form.html.twig') }}</td>
                </tr>

                <tr>
                <td><hr/></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('measurement_new', {'id': location.id}) }}">Create new</a>

{% endblock %}
