{% extends 'base.html.twig' %}

{% block title %}Edit Measurement{% endblock %}

{% block body %}
    <h1>Edit Measurement</h1>

    {{ include('measurement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('location_index') }}">back to list</a>

    {{ include('measurement/_delete_form.html.twig') }}
{% endblock %}
